input,
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--stroke-default);

  padding: 0.75rem 1rem;

  font: var(--text);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);

  display: block;
  margin-bottom: 0.25rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0.25rem solid var(--surface-secondary);
  border: 0.125rem solid var(--stroke-hightlight);
}

.droparea-wrapper {
  border: 1px dashed var(--stroke-default);
  border-radius: 0.25rem;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 1.75rem;
  position: relative;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
  }
}

.droparea-wrapper:hover {
  border-width: 3px;
  border-color: var(--stroke-hightlight);
  background-color: var(--surface-secondary);
}

.address {
  margin-top: 2.5rem;
}

form input:invalid {
  border: 0.125rem solid var(--semantic-error) !important;
}

input:has(required) {
  display: flex;
}
